body {
    margin: auto;
    max-width: 1350px;
    text-align: center;
}
.card {
    float: left;
    border: 2px solid #000;
    position: relative;
    padding: 10px;
    text-align: justify;
    margin-right: 9px;
    height: 100%;
}
span {
    border: 2px solid #000;
    padding: 10px 50px;
    position: absolute;
}
div:nth-child(1) > span {
    right: 0px;
    top: -1%;
}
div:nth-child(2) > span {
    right: 0px;
    top: -1%;
}
div:nth-child(3) > span {
    right: 0px;
    top: -1%;
}
p {
    margin-top: 50px;
}

@media (max-width: 320px) {
    .card {
        margin-bottom: 10px;
    }
}
@media (min-width: 321px) and (max-width: 768px) {
    .section:nth-child(3) {
        width: 100%;
    }
    .section:nth-child(1), .section:nth-child(2) {
        width: 50%;
        margin-bottom: 10px;
        float: left;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .section {
        width: 33.33%;
        float: left;
    }
}